<%= form_for wiki do |f| %>
    <% if wiki.errors.any? %>
        <div class="alert alert-danger">
            <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
            <ul>
                <% wiki.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <!-- only wiki owners and admin users can edit a wiki's title -->
    <% if policy(wiki).permitted_for_title? %>
        <%= form_group_tag(wiki.errors[:title]) do %>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Enter title." %>
        <% end %>
    <% end %>
    <%= form_group_tag(wiki.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter body." %>
    <% end %>
    <% if policy(wiki).permitted_to_update_private_wiki? %>
        <%= form_group_tag(wiki.errors[:private]) do %>
            <p>Is this a private space? Then check the box below. All spaces are public by default.</p>
            <%= f.label :private %>
            <%= f.check_box :private, class: 'form-control' %>
        <% end %>
    <% else %>
        <p>All spaces are public by default. To create a private space, sign up for a premium account.</p>
    <% end %>    
    <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>
